/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

.idea/workspace.xml
.idea/deployment.xml
.idea/dataSources.*
.idea/symfony2.xml
.idea/dictionaries/
.idea/php.xml
.idea/misc.xml

tests/_output/*
