{% extends "::base.html.twig" %}

{% block title %}login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <label>
            Username:
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        </label>


        <label>
            Password:
            <input type="password" id="password" name="_password"/>
        </label>

        <label for="remember_me">
            Keep me logged in <input type="checkbox" id="remember_me" name="_remember_me" checked/>
        </label>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">login</button>
    </form>
{% endblock %}
